.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -150px;
}

.lista-contatos {
  width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

li span {
  font-weight: bold;
  color: #007bff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #007bff;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}
