<p-menubar [model]="items" />

<br>
<br>

<p-panel header="Adicionar Contato">
  <br>
  <p-floatlabel>
    <input id="nome" pInputText [(ngModel)]="novoContato.nome" />
    <label for="nome">Nome</label>
  </p-floatlabel>
  <br>
  <br>
  <p-floatlabel>
    <input id="Email" pInputText [(ngModel)]="novoContato.email" />
    <label for="Email">Email</label>
  </p-floatlabel>
  <br>
  <br>
  <p-floatlabel>
    <input id="tel" pInputText [(ngModel)]="novoContato.telefone" />
    <label for="tel">Telefone</label>
  </p-floatlabel>
  <br>

  <p-listbox
    [(ngModel)]="novoContato.grupos"
    [options]="listaGrupos"
    [multiple]="true"
    [checkbox]="true"
    optionLabel="nome"
    class="painel-centralizado">
  </p-listbox>


  <p-button (click)="adicionar()" label="Salvar" icon="pi pi-check" iconPos="right" />
</p-panel>
<br>

<p-panel header="Remover Contato">
  <label for="idRemover">ID do Contato</label>
  <br>
  <input type="number" id="idRemover" class="form-control" [(ngModel)]="idRemover" name="idRemover">
  <br>
  <br>
  <p-button (click)="remover()" label="Remover" icon="pi pi-times" iconPos="right" />
</p-panel>




