<p-menubar [model]="items" />

<br>
<br>

<p-panel header="Adicionar Contato">
  <br>
  <p-floatlabel>
    <input id="nome" pInputText [(ngModel)]="novoContato.nome" />
    <label for="nome">Nome</label>
  </p-floatlabel>
  <br>
  <br>
  <p-floatlabel>
    <input id="Email" pInputText [(ngModel)]="novoContato.email" />
    <label for="Email">Email</label>
  </p-floatlabel>
  <br>
  <br>
  <p-floatlabel>
    <input id="tel" pInputText [(ngModel)]="novoContato.telefone" />
    <label for="tel">Telefone</label>
  </p-floatlabel>
  <br>

  <h4 class="mb-2">Quais grupos deseja adicionar o contato?</h4>
  <p-listbox
    [(ngModel)]="novoContato.grupos"
    [options]="listaGrupos"
    [multiple]="true"
    [checkbox]="true"
    [showToggleAll]="true"
    optionLabel="nome"
    >
  </p-listbox>
  <br>

  <p-button (click)="adicionar()" label="Salvar" icon="pi pi-check" iconPos="right" />
  </p-panel>





